@use "src/index";

.header {
  display: flex;
  border-bottom: index.$border-config;
  z-index: 2;
  position: sticky;
  top: 0;
}

.logo {
  display: flex;
  align-items: center;
  &-image {
    width: 4.35em;
    padding: 0.75em;
  }
}

.footer {
  text-align: center;
  border-top: index.$border-config;
  z-index: 2;
}
